<tr id="adm-{{ adm.codigo }}">
        <th scope="row">{{ adm.codigo }}</th>
        <td>{{ adm.nome }}</td>
        <td>
            <button class="btn btn-secondary" c-get="{{ url_for('adm.detalhe_adm', adm_codigo=adm.codigo) }}"
            c-target="#exibir-adm"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver
            </button>
    
            <button class="btn btn-primary" c-get="{{ url_for('adm.form_edit_adm', adm_codigo=adm.codigo) }}"
            c-target="#form-adm">
                    Editar
            </button>
    
            <button class="btn btn-danger" c-delete="{{ url_for('adm.deletar_adm', adm_codigo=adm.codigo) }}"
                    c-remove-closest="tr">
                    Deletar
            </button>
        </td>
    </tr>
    