<form class="c-form" 
          {% if categoria %}
              action="{{url_for('categoria.atualizar_categoria', categoria_codigo=categoria.codigo)}}"
          {% else %}
              action="{{url_for('categoria.inserir_categorias')}}"
          {% endif %}
          
          method="{% if categoria %}PUT{% else %}POST{% endif %}"

          {% if categoria %}
            c-swap="#categoria-{{categoria.codigo}}"
          {% else %}
            c-append="#lista-categorias"

          {% endif %}

          c-reload-container="true">
  <form>
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome" {% if categoria %} value="{{categoria.nome}}" {% endif %}>
      </div>

      <div class="mb-3">
          <label class="form-label">Descrição</label>
          <input type="text" class="form-control" name="descricao" {% if categoria %} value="{{categoria.descricao}}" {% endif %}>
        </div>

      <button type="submit" class="btn btn-primary">
        {% if categoria %} Salvar {% else %} Criar {% endif %}
      </button>
  </form>
</form>